<br><br>

<!-- Ruby method to get current year-->
<p>© Ratna Musgrave <%= Time.now.year %></p>

<!-- JavaScript method to get current year: needs manual page refresh-->
<!-- <p>© Ratna Musgrave -->
<!-- <span id="current_year"></span> -->
<!-- </p> -->
